<div ng-app="shortlyApp">
  <h1>Shortly</h1>
  <div class="navigation">
    <ul class="link">
      <li><a ng-href="#" class="index selected">All Links</a></li>
      <li><a ng-href="#/create" class="create">Shorten</a></li>
    </ul>

<!--       <input type="text" placeholder="type name here" ng-model="name"></input>
<div>
this is your {{name}}
</div> -->
  </div>
  <div id="container" ng-view>
  </div>
</div>